* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../assets/img/imagen-de-prueba.jpg");
  background-size: cover;
  min-height: 500px;
  height: 100vh;
  color: #fff;
}
.hero .nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);
  padding: 40px 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}
.hero .nav:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0);
}
.hero .nav .nav-logo {
  font-size: 2.5rem;
  z-index: 1;
}
.hero .nav .nav-burguer,
.hero .nav .nav-close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.9s transform;
}
.hero .nav .nav-burguer {
  transform: var(--state-hamburguer);
}
.hero .nav .nav-close {
  transform: var(--state-close);
}
.hero .nav .nav-icon {
  width: 40px;
}
.hero .nav .nav-links {
  background-color: rgba(0, 0, 0, 0.5882352941);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: 0.9s transform;
}
.hero .nav .nav-links .nav-item {
  list-style: none;
}
.hero .nav .nav-links .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

footer {
  background-color: #24262B;
  padding: 80px 0;
}

.container {
  width: 100%;
  padding: 0;
}

.footer-row {
  text-align: center;
}

.footer-divs {
  width: 100%;
  margin-bottom: 30px;
}
.footer-divs ul {
  list-style: none;
}
.footer-divs h4 {
  font-size: 35px;
  color: #FFFFFF;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00C3FF;
  padding-bottom: 15px;
  display: inline-block;
}
.footer-divs a {
  font-size: 18px;
  text-decoration: none;
  color: #BBBBBB;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3seg ease;
}
.footer-divs a:hover {
  color: #FFFFFF;
  padding-left: 6px;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}

@media (min-width: 768px) {
  .hero .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }
  .nav:target {
    --state-close: scale(0);
  }
  .hero .nav .nav-links {
    position: unset;
    padding: 0;
    background-color: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    align-content: unset;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2;
  }
  .nav-link {
    font-size: 1rem;
    letter-spacing: none;
  }
  .footer-row {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-divs {
    width: 50%;
    padding: 0 15px;
  }
  .footer-divs h4 {
    border-bottom: none;
  }
  .desc-item {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .desc-item img {
    width: 70%;
  }
  .desc-item p {
    margin-left: 2%;
    font-size: 26px;
  }
}
@media (min-width: 1024px) {
  .footer-divs {
    width: 25%;
  }
  .novedades-cards {
    flex-wrap: nowrap;
  }
  .desc-item p {
    font-size: 32px;
  }
}
@keyframes highlight {
  0% {
    background-color: #3f023c;
  }
  50% {
    background-color: rgb(0, 148, 45);
  }
  100% {
    background-color: #46004d;
  }
}
.click-aqui {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1.3rem;
  animation: highlight 3s ease-in-out infinite;
}
.click-aqui p {
  font-size: 1rem;
  color: white;
}

.img-index {
  display: flex;
  justify-content: center;
}
.img-index img {
  max-width: 100%;
  height: auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.img-empresa {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  margin-bottom: 20px;
  border-bottom: 2px solid #00C3FF;
}

h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  margin-top: 20px;
  border-top: 2px solid #00C3FF;
  padding: 20px;
}

p {
  font-size: 20px;
}

.descuentos {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.desc-item {
  background-color: #aa7444;
  flex-basis: 100%;
  margin-bottom: 20px;
}

.desc-item img {
  max-width: 100%;
}

.desc-item p {
  margin-top: 10px;
  text-align: center;
}

.novedades-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background-color: #315788;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.9s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #e6aa77;
  padding: 15px;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.card .back .comprar-btn {
  border-top: solid 2px #f3f3f3;
  height: 50px;
  line-height: 50px;
}
.card .back h5 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}
.card .back p {
  letter-spacing: 1px;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*# sourceMappingURL=style.css.map */
