.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url('../assets/img/imagen-de-prueba.jpg');
    background-size: cover;
    min-height: 500px;
    height: 100vh;
    color: #fff;

    .nav {
        --state-close: scale(0);
        --state-hamburguer: scale(1);
        --state-menu: translate(-100%);

        padding: 40px 0;
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, max-content);

        &:target {
            --state-menu: translate(0);
            --state-close: scale(1);
            --state-hamburguer: scale(0);
        }

        .nav-logo {
            font-size: 2.5rem;
            z-index: 1;
        }

        .nav-burguer,
        .nav-close {
            cursor: pointer;
            grid-column: -2/-1;
            grid-row: 1/2;
            transition: .9s transform;
        }

        .nav-burguer {
            transform: var(--state-hamburguer);
        }

        .nav-close {
            transform: var(--state-close);
        }

        .nav-icon {
            width: 40px;
        }


        .nav-links {
            background-color: #00000096;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;

            display: grid;
            align-content: center;
            gap: 2em;
            padding-left: 5%;

            transform: var(--state-menu);
            transition: .9s transform;

            .nav-item {
                list-style: none;
            }

            .nav-link {
                color: #fff;
                text-decoration: none;
                font-size: 1.2rem;
                letter-spacing: 2px;
            }
        }
    }
}