@media (min-width:768px) {
    .hero .nav {
        --state-hamburguer: scale(0);
        --state-menu: translate(0);
    }

    .nav:target {
        --state-close: scale(0);
    }

    .hero .nav .nav-links {
        position: unset;
        padding: 0;
        background-color: unset;
        gap: 1.5em;
        grid-auto-flow: column;
        align-content: unset;
        transform: unset;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav-link {
        font-size: 1rem;
        letter-spacing: none;
    }

    .footer-row {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-divs {
        width: 50%;
        padding: 0 15px;

        h4 {
            border-bottom: none;
        }
    }

    .desc-item {
        display: flex;
        align-items: center;
        text-align: center;

    }

    .desc-item img {
        width: 70%;
    }

    .desc-item p {
        margin-left: 2%;
        font-size: 26px;
    }

    .tienda .catalogo-imagenes-container {
        display: flex;
        flex-direction: row;
    }

    .catalogo {
        width: 60%;
        flex-basis: unset;
    }

    .imagenes-tienda img {
        flex-basis: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacto form {
        margin: 0 auto;
        padding: 0 20px;
        max-width: 800px;

        h2 {
            text-align: center;
            color: rgba(0, 0, 0, 0.759);
        }
    }

    .contacto .newsletter {
        padding: 30px;
    }

    .newsletter input[type="email"] {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .newsletter button[type="submit"] {
        width: 100%;
    }
}